@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #f5f4f2;
  --text-dark: #57534e;
  --text-light: #78716c;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Lora",serif;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
  display: flex;
}


/*----Navbar---*/
a{
  text-decoration: none;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem;
  height: fit-content;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link a {
  font-weight: 500;
  color: var(--text-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--text-dark);
  cursor: pointer;
  text-decoration: none;
}

.nav-logo {
  text-align: center;
  cursor: pointer;
}

.nav-logo {
  margin: 2px;
  max-width: 120px;
}

.nav-logo h4{
  font-size: 1.5rem;
  font-family: var(--header-font);
  letter-spacing: 2px;
  color: var(--text-light);
}

.nav-logo p{
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--text-light);
}



/*---Header---*/



.header-container {
  min-height: 600px;
  position: relative;
}

.header-content {
  background-color: var(--primary-color);
  color: var(--text-dark);
  width: 50%;
  opacity: 76%;
  left: 25%;
}

.header-content h5 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  font-style: italic;
  font-family: var(--header-font);
}


/*---Banner----*/

.banner {
  background-image: url("assets/bg-white-1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.banner-container .single-box {
  width: 10rem;
  height: auto;
  padding: 1rem;
}

.banner-container .single-box .icon {
  width: 50px;
  height: 86px;
}

.banner-container .single-box h3 {
  font-size: 24px;
  width: 100%;
}

.single-box p {
  font-size: 10px;
  margin-top: 12px;
  line-height: 26px;
  display: flex;
}


/*----Display----*/

.display-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.display-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.display-content {
  padding: 4rem 0;
  flex: 1;
  display: grid;
  place-content: center;
  text-align: center;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.display-col:nth-child(1) .display-content, .display-col:nth-child(3) .display-content {
  background-color: #edeae3;
}

.display-col:nth-child(2) .display-content {
  background-color: #daddd6;
}


.display-content h4 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Lora", serif;
  text-transform: uppercase;
}


.display-content p {
  font-style: italic;
}