@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #f5f4f2;
  --text-dark: #57534e;
  --text-light: #78716c;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Lora",serif;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
  display: flex;
}


/*----Navbar---*/
a{
  text-decoration: none;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link a {
  font-weight: 500;
  color: var(--text-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--text-dark);
  cursor: pointer;
  text-decoration: none;
}

.nav-logo {
  text-align: center;
  cursor: pointer;
}

.nav-logo {
  margin: 2px;
  max-width: 120px;
}

.nav-logo h4{
  font-size: 1.5rem;
  font-family: var(--header-font);
  letter-spacing: 2px;
  color: var(--text-light);
}

.nav-logo p{
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--text-light);
}



/*---Header---*/

.header {
  margin-bottom: 10rem;
}

.header-container {
  min-height: 600px;
  position: relative;
}

.header-content {
  background-color: var(--primary-color);
  color: var(--text-dark);
  width: 50%;
  opacity: 76%;
  left: 25%;
}

.header-content h5 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  font-style: italic;
  font-family: var(--header-font);
}
